<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <meta charset="utf-8" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
      html {
        font-family: "Xanh Mono";
        color: #222222;
      }
      p,
      span,
      a {
        font-family: "Padauk", sans-serif;
        font-size: 12pt;
        color: #222222;
      }
    </style>
  </head>
  <body>
    <h1>In Graphical Translation</h1>
    <br />
    <p>
      Experiments with Text and Image by
      <a
        href="https://feliciachang.me/"
        style="color: blue; text-decoration: none"
        >Felicia Chang</a
      >
    </p>
    <br />
    <hr />
    <h2>About</h2>
    <p>
      My design professor, Pamela Hovland once described type as a container.
      What information can typography hold besides content?
    </p>
    <p>
      How can we derive a more direct relationship between type and the space in
      which it sits? Can they speak the same visual language, share the same
      formal qualities?
    </p>
    <p>
      These questions culminated in two image-making tools that seek to
      translate between the two elements we use most in design: type and image.
    </p>
    <a href="" style="color: blue; text-decoration: none">See Full Report</a> |
    <a href="" style="color: blue; text-decoration: none">Code</a>
    <br />
    <br />
    <br />
    <div style="display: flex; justify-content: space-between">
      <div style="width: 100%; margin-right: 3%">
        <h2>Image as Type</h2>
        <p>
          Type as Image is a tool that extracts shapes, particularly rectangles
          and circles from images to create endlessly generative letterforms
        </p>
        <a href="/p5js" style="color: blue; text-decoration: none"
          >Try the editor</a
        >
      </div>
      <div style="width: 100%">
        <h2>Type as Image</h2>
        <p>
          Image as Type is a typographic projection tool. 2D images are
          converted to 3D models. Text can then be projected onto a sequence of
          images.
        </p>
        <a href="/depth-map" style="color: blue; text-decoration: none"
          >Try the editor</a
        >
      </div>
    </div>
    <br />
    <br />
    <hr />
    <h2>Examples</h2>
    <div style="display: flex; justify-content: space-between">
      <div style="width: 50%; margin-right: 3%">
        <h3>The Making of Nature</h3>
        <p>
          The Making of Nature is a chapbook that combines my collection of leaf
          images with Joyce Carol Oates' "Against Nature." During the semester,
          I collected leaves on my walks to Covid-19 tests twice a week.
        </p>
        <p>
          In the midst of this act of nature appreciation, I read "Against
          Nature" which portrays nature in its cruel, honest form. I wanted to
          subvert my own work by "glitching" in the same way Joyce Carol Oates
          removes us from our conventional understanding of nature.
        </p>
      </div>
      <iframe
        src="/static/assets/TheMakingOfNature.pdf"
        frameborder="0"
        width="100%"
        height="500px"
      >
      </iframe>
    </div>
    <br />
    <br />
    <br />
    <div style="display: flex; justify-content: space-between">
      <div style="width: 50%; margin-right: 3%">
        <h3>Cacophany</h3>
        <p>
          Cacophany is a short film that explores a narrative told by sentence
          pairs, sound and image. Daily domestic life is juxtaposed with a
          variety of bird calls, collected from the National Park Service
          database.
        </p>
        <p>
          This juxtaposition is meant to demonstrate how society removes us from
          nature, and thus the death that arises from climate change.
        </p>
      </div>
      <iframe
        src="https://www.youtube.com/embed/cCezbMXxJ8Y"
        frameborder="0"
        width="100%"
        height="500px"
      >
      </iframe>
    </div>
    <br />
    <br />
    <br />
    <hr />
    <h2>Acknowledgements</h2>
    <p>
      I would like to thank my advisors, Professor Holly Rushmeier and Professor
      Julian Bittiner for their support, advice and guidance – all of which were
      very much needed for the fruition of my thesis.
    </p>
    <p>
      I would like to also thank professors, Pamela Hovland, Verlyn Klinkenborg,
      Alexander Valentine, and Chris Pullman for stretching my design and
      artistic practice in ways I would not have imagined.
    </p>
  </body>
</html>
