<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <script src="static/scripts/createWord.js" defer></script>
    <script src="static/scripts/sketch.js" defer></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <meta charset="utf-8" />
  </head>
  <body style="background-color: pink">
    <div style="display: flex">
      <div id="sketch-holder"></div>
      <div id="editor" style="margin-left: 3%">
        <div id="add-file" style="margin-bottom: 3%"></div>
        <div id="text-input" style="margin-bottom: 3%"></div>
        <div id="text-height" style="margin-bottom: 3%"></div>
        <div id="text-width" style="margin-bottom: 3%"></div>
        <div id="image-size" style="margin-bottom: 3%"></div>
        <div id="position-with-mouse" style="margin-bottom: 3%""></div>
        <div id="add-background" style="margin-bottom: 3%"></div>
        <div id="reduce-size" style="margin-bottom: 3%"></div>
      </div>
    </div>
  </body>
</html>
